.App {
  text-align: center;
  background-color: #073642;
  color: #fdf6e3;
  min-height: 100vh;
}
.App-header {
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

a {
  color: #2aa198;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
